body {
    font-family: Times New Roman, serif;
    font-size: 18px;
}

.narranti-box {
    font-family: Times New Roman, serif;
    font-size: 1em;
}

.char-num {
    font-weight: bold;
}

.nel-limite {
    color: black;
}

.fuori-limite {
    color: #f22;
}

textarea {
    height: 350px;
    width: 95%;
    display: block;
}

.ortografia {
    color: #f22;
    text-decoration: underline;
}

.regola {
    color: #f22;
}

#editor, #stats ,  #tastierino {
    margin: 10px 0;
    padding: 20px;
    display: inline-block;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px; 
}

#editor {
    background-color: #FD0;
    color: #885555;
}

#editor > div {
    margin: 8px 0;
}

#stats {
    background-color: #00EAFF;
    color: #555588;
    vertical-align: top;
}

#tastierino {
    background-color: #D0F;
    color: #885555;
    vertical-align: top;
}

#tastierino button {
    font-family: Times New Roman, serif;
    font-size: 16px;
    width: 40px;
    height: 40px;
    padding: 3px;
    margin: 2px;
}

.tooltip {
    background-color: rgba(16, 64, 192, 0.5);
    border-radius: 10px 10px 10px 10px;
    color: #000088;
    margin: 10px;
    padding: 10px;
}

.lista-errori li:hover {
    background-color: rgba(255, 255, 192, 0.4);
}